nmap <Space>so :source /home/caesar/.ideavimrc <CR>

"" http://ideavim.sourceforge.net/vim/options.html

"""" vim """"
"set number
set relativenumber
set hlsearch
set incsearch
set digraph
set showmode
set showcmd
set visualbell
set scrolloff=2
set clipboard+=unnamed

"""" plugin """"
set surround
set ReplaceWithRegister

"""" native map """"
imap jj <Esc>

nmap <BS> a<BS><Esc>
vmap <BS> <Delete>

nmap zh ^
vmap zh ^
imap zh <Esc>I
nmap zl $
vmap zl $h
imap zl <End>

nmap ,a <C-A>
nmap ,x <C-X>

imap zc <-
imap zp <Esc>"0pa

"""" action map """"

"" 1. can add/delete code
nmap zd :action EditorDeleteLine<CR>
imap zd <Esc>:action EditorDeleteLine<CR>

map zmv :action Move<CR>
imap zmv <Esc>:action Move<CR>

map zrr :action RenameElement<CR>
imap zrr <Esc>:action RenameElement<CR>
map zrs :action ModifyObject<CR>
imap zrs <Esc>:action ModifyObject<CR>

nmap zri :action ExtractInterface<CR>
vmap zrm :action ExtractMethod<CR>
nmap zrv :action IntroduceVariable<CR>
nmap zrc :action IntroduceConstant<CR>
nmap zrn :action Inline<CR>

vmap zF :action IntroduceField<CR>
vmap zP :action IntroduceParameter<CR>

nmap <S-F1> mb?func<CR>vf{%y`bp?Test<CR>/?<CR>[wct(
imap <S-F1> <Esc>mb?func<CR>vf{%y`bp?Test<CR>/?<CR>[wct(

"" 2. can't add/delete code
nmap <Space>fmt :action RearrangeCode<CR>:action ReformatCode<CR>:action OptimizeImports<CR>
nmap <Space>ci <Space>fmt :action FileWatcher.runForFiles<CR>:action InspectCode<CR>

nmap <Space>bp :action ViewBreakpoints<CR>
nmap <Space>fs :action FileStructurePopup<CR>

nmap zuu <Space>fmt:action Rerun<CR>
nmap zuc <Space>fmt:action RunContextGroup<CR>
nmap zuf <Space>fmt:action RerunFailedTests<CR>
imap zuu <Esc><Space>fmt:action Rerun<CR>
imap zuc <Esc><Space>fmt:action RunContextGroup<CR>
imap zuf <Esc><Space>fmt:action RerunFailedTests<CR>

nmap <Space>hw :action HideActiveWindow<CR>
nmap <Space>ha :action HideAllWindows<CR>

map <Space>tt :action $TranslateTextComponent<CR>
nmap <Space>td :action $ShowTranslationDialogAction<CR>

nmap <Space>gw :action JumpToLastWindow<CR>
nmap <Space>ge :action GotoNextError<CR>
nmap <Space>gd :action GotoTypeDeclaration<CR>
nmap <Space>gr :action ShowUsages<CR>
nmap <Space>gi :action GotoImplementation<CR>
nmap <Space>gt :action GotoTest<CR>



